 
  * {
    padding: 0;
    margin: 0;
  }


  body {
    background: linear-gradient(#200016,#10001f);
    height: 100vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  a {
    text-decoration: none;
    color: beige;
  }
  header{

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px; 
    width: 95%;
     z-index: 100;
  }


  header .logo {
    font-size: 30px;
  color: rgb(171, 124, 171);
  }

  header ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
  }

  header ul li{
    margin-right: 28px;

  }
  header ul li a {
    padding:  6px  13px;
    border-radius: 20px;

  }
  header ul li a:hover {
    color: rgb(171, 124, 171);;
     
    /* color: #200016; */
    
  }
  .main{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .main::after{
   content:'';
   position: absolute;
   bottom: 0;
   height: 100px;
   width: 100%;
   background: linear-gradient(to top, #200016,transparent);
  }
  .main img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
   

.Omima {
 color: #fff;
 font-size: 21px;
 transform: translateY(-140px);
 color:  rgb(171, 124, 171);
}

.content{
  color: #fff; 
  padding: 30px;
}
.content h2{
 
  font-size:30px;
  margin-right: 90px;
  margin-bottom: 30px;
}
 .p2{
  margin-left: 40px;
 }
.h2 {
  margin: 30px;
}

.content-form form{

  position: relative;
}

form input , 
form textarea {

  width: 60%;
  margin: 10px; 
  margin-right: 12px;
  font-size: 14px;
  border-radius: 17px;
  background: white;
  border: none;
  padding: 13px; 
  color: rgb(4, 41, 42);
  font-weight: bold ;
}

form .submit {
width: 140px;
display: inline-block;
background: rgb(171, 124, 171);
color: white;
font-size: 15px;
}

form .submit:hover {
  width: 175px;
}

footer {
  width: 100%;
  background: #f3f3f3;
  border-radius: 70px;

}
.footer {
  text-align: center;
  padding: 10px;
}
.footer p {
  letter-spacing: 1;
  color:  rgb (151,143,143);
  margin: 10px;
}
.so img{
  width: 44px;
  height:  44px;;
  margin: 10px;  
}
.ff {
  margin: 10px;
  text-align: center;
}

.ff p {
  font-size: 17px;
}
.ff p a {
color :  rgb(151, 126, 151) ;
}







